package {{.Package}}

import (
    "net/http"
    "github.com/bradcypert/ghast/pkg/controllers"
)

type {{.Name}} struct {
    controller.GhastController
}

func (c {{.Name}}) Index(w http.ResponseWriter, r *http.Request) {
    c.NotFound(w, "")
}

func (c {{.Name}}) Get(w http.ResponseWriter, r *http.Request) {
    c.NotFound(w, "")
}

func (c {{.Name}}) Create(w http.ResponseWriter, r *http.Request) {
    c.NotFound(w, "")
}

func (c {{.Name}}) Edit(w http.ResponseWriter, r *http.Request) {
    c.NotFound(w, "")
}

func (c {{.Name}}) Update(w http.ResponseWriter, r *http.Request) {
    c.NotFound(w, "")
}

func (c {{.Name}}) Delete(w http.ResponseWriter, r *http.Request) {
    c.NotFound(w, "")
}
