package {{.Package}}

import (
    "net/http"
    "github.com/bradcypert/ghast/pkg/controllers"
    "github.com/bradcypert/ghast/pkg/router"
)

type {{.Name}} struct {
    controllers.GhastController
}

func (c {{.Name}}) Index(r *http.Request) (router.Response, error) {
    return router.Response{
        Status: 404,
    }, nil
}

func (c {{.Name}}) Get(r *http.Request) (router.Response, error) {
    return router.Response{
        Status: 404,
    }, nil
}

func (c {{.Name}}) Create(r *http.Request) (router.Response, error) {
    return router.Response{
        Status: 404,
    }, nil
}

func (c {{.Name}}) Edit(r *http.Request) (router.Response, error) {
    return router.Response{
        Status: 404,
    }, nil
}

func (c {{.Name}}) Update(r *http.Request) (router.Response, error) {
    return router.Response{
        Status: 404,
    }, nil
}

func (c {{.Name}}) Delete(r *http.Request) (router.Response, error) {
    return router.Response{
        Status: 404,
    }, nil
}
