package controllers

import (
    "net/http"
    "github.com/CloudyKit/jet"
    "github.com/bradcypert/ghast/pkg/controllers"
    "github.com/bradcypert/ghast/pkg/router"
)

type HomeController struct {
    controllers.GhastController
}

func (c HomeController) Index(r *http.Request) (router.Response, error) {
	vars := make(jet.VarMap)
	appName := c.Config("@app.config.appName").(string)
	vars.Set("AppName", appName)
	return c.View("template.jet", vars, nil)
}
