package controllers

import (
    "net/http"
    "github.com/CloudyKit/jet"
    ghastController "github.com/bradcypert/ghast/pkg/controllers"
)

type HomeController struct {
    ghastController.GhastController
}

func (c HomeController) Index(w http.ResponseWriter, r *http.Request) {
    vars := make(jet.VarMap)
    appName := c.Config("@app.config.appName").(string)
    vars.Set("AppName", appName)
    c.View("template.jet", w, vars, nil)
}
