package main

import (
    "fmt"
    "net/http"

    ghastApp "github.com/bradcypert/ghast/pkg/app"
    "github.com/bradcypert/ghast/pkg/router"
    "{{.Pkg}}/controllers"
)

func main() {
    r := router.Router{}

	// We can use controllers. Generate more using "ghast make controller MyControllerName" from your terminal
	r.Get("/", router.RouteFunc(controllers.HomeController{}.Index))

	// Or we can just use standard Go HTTP handler funcs
	r.Get("/:name", http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		w.WriteHeader(http.StatusOK)
		fmt.Fprint(w, "Hello "+r.Context().Value("name").(string))
	}))

	app := ghastApp.NewApp()
	app.SetRouter(r)
	app.Start()
}
