package main

import (
    "fmt"
    "net/http"

    ghastApp "github.com/bradcypert/ghast/pkg/app"
    ghastRouter "github.com/bradcypert/ghast/pkg/router"
    "{{.Pkg}}/controllers"
)

func main() {
    router := ghastRouter.Router{}

    // We can use controllers. Generate more using "ghast make controller MyControllerName" from your terminal
    router.Get("/", controllers.HomeController{}.Index)

    // Or we can just use standard Go HTTP handler funcs
    router.Get("/:name", func(w http.ResponseWriter, r *http.Request) {
        w.WriteHeader(http.StatusOK)
        fmt.Fprint(w, "Hello "+r.Context().Value("name").(string))
    })

    app := ghastApp.NewApp()
    app.SetRouter(router)
    app.Start()
}
