<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello from Ghast!</title>
  </head>
  <body>
    <h1>Hello from {{ "{{ AppName }}" }}!</h1>
    <p>You've successfully scaffolded out your first Ghast application! There are tons of places to take this project from here! I've provided a few suggestions below:</p>
    <ul>
      <li>Building just an API? Delete the views folder if you don't need it.</li>
      <li>No interest in MVC? Toss the controllers directory and just use the router and app directly.</li>
      <li>Non-commital? No worries, Ghast's router handlers and controller functions all conform to <a href="https://golang.org/pkg/net/http/#HandleFunc">Go's standard HTTP Handler Func</a>. Moving away from Ghast isn't painless (nothing ever is) but shouldn't be too difficult either.</li>
      <li>Building something huge? Keep the existing patterns in place and use the CLI to generate new controllers, models, or migrations</li>
    </ul>
    <p>Don't forget! You can find an up-to-date readme here: <a href="https://www.github.com/bradcypert/ghast">Ghast's Readme</a>. Happy Ghasting!</p>
  </body>
</html>
